/* #dropzone{
    text-align: center;
    border: 5px solid rgb(254, 1, 1);
    height: 240px;
    width: 290px;
}

#upload_file{
    margin-top: 80px;
    width: 80px;
    height: 80px;
    cursor: pointer;
} */